# Python
**/__pycache__/
**/*.py[oc]
**/.venv/
**/.python-version

# Node
**/node_modules/

# Rust
aetheris-edge-wasm/target/
aetheris-edge-wasm/Cargo.lock

# Env and secrets
**/.env

# OS/editor noise
.DS_Store
Thumbs.db
